.card{
    background-color: #e9dbd0;
    width: 300px;
    height: 200px;
    margin: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}